<mat-card>
    <mat-card-header>
        <mat-card-subtitle>Allocation: Examiner and Student List</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        
        <div style="display: flex; justify-content: space-between; padding: 10px; background-color: #f5f5f5; border-radius: 5px; box-shadow: 0px 2px 5px rgba(0,0,0,0.2); margin-bottom: 20px;">
            <button mat-raised-button color="primary" (click)="generatePDF()">
                Download PDF
            </button>
            <button mat-raised-button color="primary" (click)="onAllocation()" class="add">
                <mat-icon>add</mat-icon> Allocation
            </button>
        </div>
                <table class ="table">
                    <thead>
                        <tr>
                            <th>Examiner Name</th>
                            <th>Student Name</th>
                            <th>Registration Number</th>
                            <th>Program</th>
                            <th>action</th>
                        </tr>
                    </thead>
                        <tbody>
                            <ng-container *ngFor="let item of list; let i = index">
                              <ng-container *ngFor="let student of item.students; let j = index">
                                <tr>
                                  <!-- Display examiner's name only for the first student row -->
                                  <td *ngIf="j === 0" [attr.rowspan]="item.students.length">
                                    {{ item.examiner }}
                                  </td>
                                  <td>{{ student.std_name }}</td>
                                  <td>{{ student.std_regNumber }}</td>
                                  <td>{{ student.Std_program }}</td>
                                  <td>
                                    <!-- Pass the correct allocation ID to the ondelete method -->
                                    <mat-icon color="warn" (click)="ondelete(student.allocation_id)">delete</mat-icon>
                                  </td>
                                </tr>
                              </ng-container>
                            </ng-container>
                            <!-- <tr *ngIf="list.length === 0">
                              <td colspan="6">No allocation ..</td>
                            </tr> -->
                          </tbody>
                </table>
    </mat-card-content>
</mat-card>
        
        



