<!-- 
    <h2>Upload Book Information</h2>
    
    <form action="/submit-book" method="post" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    
      <label for="name">Author Name:</label>
      <input type="text" id="name" name="name" required>
    
      <label for="categories">Categories:</label>
      <select id="categories" name="categories" required>
        <option value="">Select category...</option>
        <option value="Fiction">Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Fantasy">Fantasy</option> -->
        <!-- Add more categories as needed -->
      <!-- </select>
    
      <label for="cost">Cost of Title ($):</label>
      <input type="number" id="cost" name="cost" min="0" step="0.01" required>
    
      <label for="file">Upload Book File:</label>
      <input type="file" id="file" name="file" accept=".pdf,.doc,.docx" required>
    
      <input type="submit" value="Submit">
    </form> -->
<div class="main">    
<form> 
  <mat-card-header>
    <mat-card-content>
      <mat-card-title>uplod Tittle</mat-card-title>
    </mat-card-content>
  </mat-card-header>
  <mat-card class="form">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width w-100">
          <mat-label>Tittle Name</mat-label>
          <input matInput placeholder="tittle name"formControlName="s_name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width w-100">
          <mat-label>year</mat-label>
          <input matInput placeholder="year of the Research" formControlName="s_address" type="years">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width w-100">
          <mat-label>Tittle Name</mat-label>
          <input matInput placeholder="tittle name"formControlName="s_name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width w-100">
          <mat-label>cost</mat-label>
          <input matInput placeholder="cost" formControlName="s_address">
        </mat-form-field>
      </div>
      <div>
        <input type="file" name="fileToUpload" />
      </div>

    </div>
    <button mat-raised-button color="primary" [disabled]=""(click)="onSave()">Save</button>
  </mat-card>  
</form>
</div>
    