<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      @if (role == 'Admin'){
        <a mat-list-item routerLink="Dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
      </a>
      
      <a mat-list-item [matMenuTriggerFor]="userMenu">
          <mat-icon>person</mat-icon>
          <span>Manage User</span>
      </a>
      <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="listUser">
              <mat-icon>list</mat-icon>
              <span>User List</span>
          </button>
      </mat-menu>
      
      <a mat-list-item [matMenuTriggerFor]="allocationMenu">
          <mat-icon>assignment</mat-icon>
          <span>Manage Allocation</span>
      </a>

      <mat-menu #allocationMenu="matMenu">
          <button mat-menu-item routerLink="AllocationList">
              <mat-icon>list</mat-icon>
              <span>Supervisor</span>
          </button>
          <button mat-menu-item routerLink="allocaionExaminer">
              <mat-icon>list</mat-icon>
              <span>Internal Examiner</span>
          </button>
      </mat-menu>
      
      <a mat-list-item routerLink="document">
          <mat-icon>description</mat-icon>
          <span>Document</span>
      </a>

      <a mat-list-itemrouter="Result">
          <mat-icon>grade</mat-icon>
          <span>Result</span>
      </a>

      }



      @else if (role === 'Supervisor') {
        <a mat-list-item routerLink="superDashbord">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="submition">
          <mat-icon>assignment</mat-icon>
          <span>Submission</span>
        </a>
        <mat-menu #submissionMenu="matMenu">
          <button mat-menu-item routerLink="Dashboard/newlySubmition">Newly submission</button>
          <button mat-menu-item routerLink="ongoingResearch">Ongoing Research</button>
          <button mat-menu-item routerLink="researchComplete">Research Complete</button>
          
        </mat-menu>
        <a mat-raised-button routerLink="sendComment">comment</a>
      }
      @else if (role === 'Student') {
        <a mat-list-item routerLink="stdDashboad" class="menu-item">
          <mat-icon class="menu-icon">dashboard</mat-icon>
          <span>Dashboard</span>
      </a>

      <a mat-list-item routerLink="studentForm" class="menu-item">
          <mat-icon class="menu-icon">assignment</mat-icon>
          <span>Student Information</span>
      </a>
      
      <a mat-list-item routerLink="mysubmition" class="menu-item">
          <mat-icon class="menu-icon">file_upload</mat-icon>
          <span>My Submition</span>
      </a>
      
      <a mat-list-item routerLink="viewCOmment" class="menu-item">
          <mat-icon class="menu-icon">comment</mat-icon>
          <span>View Comment</span>
      </a>
      
      <a mat-list-item routerLink="result" class="menu-item">
          <mat-icon class="menu-icon">grade</mat-icon>
          <span>Result</span>
      </a>
      }

      @else if (role === 'PGO') {
        
        <nav>
          <a mat-list-item routerLink="pgoDashbord" routerLinkActive="active-link">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          
          <a mat-list-item [matMenuTriggerFor]="allocationMenu">
            <mat-icon>assignment</mat-icon>
            <span>Allocation List</span>
          </a>
          <mat-menu #allocationMenu="matMenu">
            <button mat-menu-item routerLink="AllocationList" routerLinkActive="active-link">
              <mat-icon>list</mat-icon>
              <span>Supervisor</span>
            </button>
            <button mat-menu-item routerLink="allocaionExaminer" routerLinkActive="active-link">
              <mat-icon>list</mat-icon>
              <span>Internal Examiner</span>
            </button>
          </mat-menu>
          <button mat-menu-item routerLink="DissertationResult">
            <mat-icon>book</mat-icon>
            <span>Dessertation Result</span>
          </button>
        </nav>
        
      }

      @else if (role === 'Examiner') {
        <a mat-list-item routerLink="examinerDashbord">Dashboard</a>
        <a mat-list-item routerLink="completed">Submition</a>
      }

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="rmc">Research Management System(RMS)</span>
      <mat-icon (click)="logout()" class="logout">logout</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
