


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
   background-color: #f0f0f0; ; 
  color: white;
  border-bottom: 2px solid #0056b3;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25px; 
  padding: 5px 15px;
}

.search-container i {
  position: absolute;
  left: 10px;
  color: #007bff; 
}

.search-container input {
  padding: 8px 40px; 
  border: none;
  outline: none;
  border-radius: 25px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
}

.dashboard-card {
  flex: 1 1 calc(25% - 20px); 
  min-width: 220px; 
  background-color: #4b28b6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-card mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa; 
  border-bottom: 1px solid #e0e0e0; 
}

.dashboard-card mat-card-title {
  font-size: 18px;
  margin: 0;
} 

.dashboard-card mat-icon {
  font-size: 24px;
  color: #007bff; 
}




