<div class="header">
    <h2>Examiner Dashboard</h2>
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search">
    </div>
  </div>
  <div class="dashboard-container">
    <mat-card class="dashboard-card" (click)="viewStudent()">
        <mat-card-header>
          <mat-card-title>Student List</mat-card-title>
          <mat-icon>student_account</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <h2>{{totalStudent}}</h2>
        </mat-card-content>
      </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Students</mat-card-title>
        <mat-icon>group</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h2></h2>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Allocation</mat-card-title>
        <mat-icon>assignment</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h2></h2>
      </mat-card-content>
    </mat-card>