<mat-card class="register-card">
  <mat-card-header>
    <mat-icon>person_add</mat-icon>
    <mat-card-title>Register User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addUser" class="form-container">
      <div class="col-md-5">
        <mat-form-field appearance="outline" class="w-100 example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="first_name" placeholder="Enter first name" required />
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field appearance="outline" class="w-100 example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="first_name" placeholder="Enter first name" required />
        </mat-form-field>
      </div>
      

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="last_name" placeholder="Enter last name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput type="number" formControlName="phoneNumber" placeholder="Enter phone number" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter password" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
        <button mat-raised-button color="warn" (click)="onback()">Back</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

