 <mat-card class="mat">
   <mat-card-title class="mattitle">Regestere here</mat-card-title>
</mat-card>
<div>
<form>
       
           
            <input class="form-control"  type="text" placeholder="Enter your first name" formControlName="first_name">
       
            <label class="small mb-1" for = "inputLastName">last name</label>
            <input class="form-control" type="text" placeholder="Enter your Last name" formControlName="last_name">
      
      
           
            <input class="form-control"  type="email" placeholder="Email" formControlName="email">
       
        
            
            <input class="form-control" type="text" placeholder="Enter your password" formControlName="password">
            
       
    </form>
</div>  
