<div class="headers">
    <p>Admin</p>
    <div class="dashboard-container">
      <div class="account-box">
         <h2>{{supervisorCount}}</h2>
         <mat-icon>supervisor_account</mat-icon>
          <p>Supervisor</p>
      </div>

      <div class="account-box">
          
          <mat-icon>Student</mat-icon> 
          <p>Student</p>
      </div>

      <div class="account-box">
        <mat-icon>assignment</mat-icon> 
        <p>Allocation list</p>
    </div>
      </div>
      
   
</div>
