
.main {
  text-align: center;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 16px 50px rgba(0, 0, 0, 0.12);
  align-self: center;
  margin-left: 40%;
  margin-top: 5%;

}
.h1 {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 15px;
}

.login{
  margin-top: 5%;
  padding: auto;
}

button{
  width: 30%;
}
