
.log-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.header {
  background-color: #007bff;
  border-radius: 8px 8px 0 0;
  font-size: 24px;
  font-weight: bold;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: 80px;
}

.university-name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.form-floating {
  margin-bottom: 20px;
}

.form-floating label {
  color: #6c757d;
}

.login button {
  width: 100%;
  font-size: 18px;
}

.form-group a {
  font-size: 14px;
  color: #007bff;
}

p {
  font-size: 14px;
  color: #6c757d;
}

/* p a:hover {
  text-decoration: underline;
} */
