<!-- <form [formGroup]="document" (ngSubmit)="onSubmit()">
  <label for="title">Title:</label>
  <input id="title" formControlName="title" type="text" />

  <label for="doc_type">Document Type:</label>
  <select id="doc_type" formControlName="doc_type">
    <option value="concept note">Concept Note</option>
    <option value="proposal">Proposal</option>
    <option value="progress">Progress</option>
  </select>

  <label for="file">Upload File:</label>
  <input id="file" type="file" (change)="onFileSelected($event)" />

  <button type="submit" [disabled]="document.invalid">Submit</button>
</form> -->
