<mat-card class="user-card">
  <mat-card-title>
    <h2>Research</h2>
  </mat-card-title>
      <div >
        <table class="table">
          <thead>
            <tr>
              <th>Sn</th>
              <th>Registration Number</th>
              <th>Research</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           
              @for (item of items; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.student.std_regNumber}}</td>
                    <td>{{item.title}}</td>
                    <td>
                      <button class="btn btn-outline-primary" (click)="viewfile(item.research_id)">view</button>
                      <button class="btn btn-outline-warning"(click)="onComment(item.research_id)">uplodComment</button>
                      <button class="btn btn-outline-primary"(click)="openAddResultDialog(item.research_id)">Add result</button>
                    </td>
                </tr>
              }
             @empty {
              <p> No research found </p>
             }
          </tbody>
        </table>
      </div>
</mat-card>   

