
<mat-card>
  <mat-card-header>
    <mat-card-title>Student information</mat-card-title>
     <mat-icon>person_add</mat-icon>
  </mat-card-header>
</mat-card>
      <div class="form-container">
          <form [formGroup]="detailStudent" >
          <label for="fullName">Full Name:</label>
          <input type="text" formControlName="std_name" placeholder="Enter full name" required>  <br>
          <label for="LastName">Student Program:</label>
          <input type="text" formControlName="Std_program" placeholder="Enter your program" >  <br>
          <label for="phoneNumber">Registration Number:</label>
          <input type="text" formControlName="std_regNumber" placeholder="Enter registration number" >  <br>
          <div *ngIf="detailStudent.get('std_regNumber')?.invalid && detailStudent.get('std_regNumber')?.touched">
            <small *ngIf="detailStudent.get('std_regNumber')?.errors?.['required']">Registration number is required.</small>
            <small *ngIf="detailStudent.get('std_regNumber')?.errors?.['invalidRegistrationNumber']">
                Registration number must follow the format STU/9/21/0/TZ.
            </small>
          </div>
          <label for ="year">Academic year:</label>
          <input type="text" name="academicYear" placeholder="Enter Academic Year (e.g. 2022-2023)">
          <button mat-raised-button color="primary" (click)="onsave()" [disabled]="detailStudent.invalid ">Save</button>  
          </form>
      </div> 
      
      
   

