
  <div class="headers">
    <p>Admin</p>
    <div class="dashboard-container">
      <div class="account-box"  (click)="listUser()">
          <h2>{{userCount}}</h2>
          <mat-icon>people</mat-icon>
          <p>Total Users</p>
      </div>

      <div class="account-box" (click)="allocationList()">
          <h2>{{allocationCount}}</h2>
          <mat-icon>assignment</mat-icon> 
          <p>Allocation list</p>
      </div>

      <div class="account-box">
          <h2></h2>
          <p>Reserch Completed</p>
      </div>
  </div>
</div>
