<div class="header">
  <h2>Admin Dashboard</h2>
  <div class="search-container">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search">
  </div>
</div>
<div class="dashboard-container">
  <mat-card class="dashboard-card" (click)="listUser()">
    <mat-card-header>
      <mat-card-title>User List</mat-card-title>
      <mat-icon>supervisor_account</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>{{userCount}}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" (click)="studentView()">
    <mat-card-header>
      <mat-card-title>Students</mat-card-title>
      <mat-icon>group</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>{{studentsCount}}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" (click)="allocationList()">
    <mat-card-header>
      <mat-card-title>Allocation</mat-card-title>
      <mat-icon>assignment</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>{{allocationCount}}</h2>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Student Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="statistics-container">
        <!-- Display other statistics as text -->
        <div class="stat-item">
          <h3>Total Students</h3>
          <p>{{ statistics?.total_students }}</p>
        </div>
        <div class="stat-item">
          <h3>Titles Submitted</h3>
          <p>{{ statistics?.title_submitted }}</p>
        </div>
        <div class="stat-item">
          <h3>Proposals Submitted</h3>
          <p>{{ statistics?.proposal_submitted }}4</p>
        </div>
        <div class="stat-item">
          <h3>Progress Reports Submitted</h3>
          <p>{{ statistics?.progress_submitted }}4</p>
        </div>
        <div class="stat-item">
          <h3>Allocated Supervisors</h3>
          <p>{{ statistics?.allocated_supervisors }}5</p>
        </div>
        <div class="stat-item">
          <h3>Allocated Examiners</h3>
          <p>{{ statistics?.allocated_examiners }}5</p>
        </div>
      </div>
