
<div class="header">
  <h2>Student  Dashboard</h2>
  <div class="search-container">
    <i class="fas fa-search"></i>
    <mat-card-title>My Information</mat-card-title>
    <input type="text" placeholder="Search">
  </div>
</div>
 <div class="tables-container">
    <mat-card>
      <mat-card-content>
        <table class="table" >
         <thead>
            <tr>
                <th>Student Name</th>
                <th>Registration Number</th>
                <th>Supervisor Name</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                @for (item of items; track $index) {
                    <td>{{item.student.user.first_name}} {{item.student.last_name}}</td>
                    <td>{{item.student.std_regNumber}}</td>
                    <td>{{item.supervisor.user.first_name}} {{item.supervisor.user.last_name}} </td>
                }
            </tr>
         </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  


    <mat-card>
      <mat-card-header>
        <mat-card-title>Document</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table>
          <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>SN</th>
                    <th>Research Title</th>
                    <th>Document Type</th>
                    <th>Date Upload</th>
                    <th>Approval</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of list; track $index) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.doc_type}}</td>
                        <td>{{item.year}}</td>
                        <td>
                          <button 
                            [ngStyle]="{ 'background-color': item.approval === 'approved' ? 'green' : (item.approval === 'rejected' ? 'red' : 'gray') }" 
                            class="btn btn-sm"
                          >
                            {{ item.approval }}
                          </button>
                        </td>
                        <td>
                          <button 
                            [ngStyle]="{ 'background-color': item.is_completed ? 'blue' : 'orange' }" 
                            class="btn btn-sm"
                          >
                            {{ item.is_completed ? 'Completed' : 'Not Completed' }}
                          </button>
                        </td>
                        <td>
                          <button 
                          class="btn btn-outline-success btn-sm" 
                          [disabled]="item.approval === 'rejected'" 
                          (click)="onEdit(item.research_id)"
                        >
                          Edit
                        </button>
                        </td>
                    </tr>
                } 
                @empty {
                    <tr>
                        <td colspan="7">
                            <p class="text-center">You have not sent your research</p>
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
        
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  
  