<div class="headers">
    <mat-card><p>Admin</p></mat-card>
    
    <div class="dashboard-container">
      <div class="account-box">
          <h2></h2>
          <mat-icon>people</mat-icon>
          <p>Total Student</p>
      </div>

      <div class="account-box">
        <h2></h2>
        <mat-icon>people</mat-icon>
        <p>New document</p>
    </div>

      <div class="account-box">
          <h2></h2>
          <mat-icon>assignment</mat-icon> 
          <p>Approval document</p>
      </div>

      <div class="account-box">
          <h2></h2>
          <p>Reserch Completed</p>
      </div>
  </div>
</div>