/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
     
  } */
  

  

  .container {
    margin: 20px;
  }
  
  mat-card {
    padding: 20px;
  }

  /* mat-icon {
    margin-right: 10px; 
  }
  mat-card{
    width: 100%;
    height: 10%; */
/* 
mat-card-title{
    margin-bottom: 10%;
}  */
mat-icone{
    margin-left: 5%;
}
  
  .form-container {
    margin-top: 20px; 
    margin-left: 5%;
    margin-right: 5%
  }
  
  input[type=text],
  input[type=number],
  input[type=password],
  input[type=email],
  input[type=file],
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    margin-left: 50%;
    height: 15%;
    
  }
  