<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-icon>person_add</mat-icon>
      <mat-card-title>Register User</mat-card-title>
    </mat-card-header>
  </mat-card>

    <div class="form-container">
      <form [formGroup]="document" enctype="multipart/form-data">
        <label for="documen">Document Title:</label><br>
        <input type="text" formControlName="doc_Title" placeholder="Enter document title" required><br>
        
        <label>Document Type:</label><br>
        <select class="form-select" formControlName="doc_type">
          <option value="concept_note">Concept Note</option>
          <option value="proposal">Proposal</option>
          <option value="progress">Progress</option>
        </select><br>
        <label>choose file:</label><br>
        <input type="file" (change)="onFileChange($event)" required formControlName="doc_uplodfile"><br>
        
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="document.invalid">Save</button>
      </form>
    </div>
    <div >
      <table class="table">
          <thead>
              <tr>
                  <th>SN</th>
                  <th>Document title</th>
                  <th>Document Name</th>
                  <th>Document</th>
              </tr>
          </thead>
          <tbody>
              @for (item of list; track $index){
                  <tr>   
                      <td>{{$index+1}}</td>
                      <td>{{item.doc_type}}</td>
                      <td>{{item.doc_Title}}</td>
                      <td>{{item.doc_uplodfile}}</td>
                      
              <td>
                  <mat-icon color="warn" (click)="(item.doc_id)">delete</mat-icon>
                  <mat-icon color="success" (click)="view()">visibility</mat-icon>
              </td></tr>
      }  
       </tbody>
      </table>
</div>
  </div>
 