<!-- document-detail.component.html -->
<!-- <div *ngIf="document">
    <h1>Document Details</h1>
    <p>Document Title: {{ document.doc_Title }}</p>
    <p>Submitted by: {{ document.Stu_id.userID.username }} ({{ document.Stu_id.std_name }})</p>
    <p>Program: {{ document.Stu_id.Std_program }}</p>
    <p>Registration Number: {{ document.Stu_id.std_regNumber }}</p>
    <p>Status: {{ document.doc_status }}</p>
    <p>Type: {{ document.doc_type }}</p>
    <p>Date Uploaded: {{ document.doc_dateUpload }}</p>
  </div>
  information za document
   -->
