
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>allocaton supervisor and studentList</mat-card-subtitle>
        </mat-card-header>
       
            <mat-card-content>
                <button mat-raised-button color="primary" (click)="onAllocation()" class="add"><mat-icon>add</mat-icon> Allocation</button> 
                <table class ="table">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Supervisor Name</th>
                            <th>Student Name</th>
                            <th>Registration Number</th>
                            <th>Program</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of list; track $index){
                            <tr>   
                                <td>{{$index+1}}</td>
                                <td>{{item.supervisor.user.first_name}}  {{ item.supervisor.user.last_name }}</td>
                                <td>{{item.student.std_name}}</td>
                                <td>{{item.student.std_regNumber}}</td>
                                <td>{{item.student.Std_program}}</td>
                        <td>
                    <mat-icon color="warn" (click)= "ondelete(item.allocate_Id)">delete</mat-icon>
                     <mat-icon color="primary" click ="onedit()">edit</mat-icon>
                        </td>
                    
                </tr>
                }@empty {
                    <p>No allocation ..</p>
                }
                 </tbody>
                </table>
            </mat-card-content>
    </mat-card>